*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    gap: 3rem
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .25rem;
    color: white;
    background-color: rgb(74, 84, 93);
    padding: 1rem 2rem;
    border-radius: 5px;
    letter-spacing: .1rem;
}

ul {
    list-style: none;
}
li{
    padding-left: 1rem;
}
input {
    min-width: 150px;
    min-height: 30px;
    border-radius: 5px;
}
button {
    margin: .75rem 0;
    min-height: 30px;
    max-width: 100px;
    border-radius: 5px;
}
.register {
    color: white;
    background-color: #007aff;
}
.register-header {
    color: #007aff;
    font-size: 2rem;
}
.login {
    color: white;
    background-color: #28a745;
    
}
.login-header {
    color: #28a745;
    font-size: 2rem;
}
.table_header{
    display: flex;
    width: fit-content;
}
.left_header {
    width: fit-content;
}
.recipe_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 600px;
    gap: 1rem;
}
.top, .bottom {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: initial 3rem;
}
li {
    display: flex;
    justify-content: space-between;
}
.recipe_body {
    outline: auto;
}
#recipe_new{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: column;
}
form div.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0 5rem;
}
textarea {
    resize: none;
}
.radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin: .5rem;
}
.error, .login_error {
    font-size: 1.25rem;
    color: red;
}